<h1>編輯學期資料</h1>

如果不知道什麼格式，務必參考其他已經存在的資料。

<%= render 'form' %>

<%= link_to '查看', @semester, :class=>"btn btn-primary btn-lg" %> |
<%= link_to '返回', semesters_path , :class=>"btn btn-primary btn-lg" %>
