


<div class='kai'><p><h1>雲林縣身心障礙學生個別化教育計畫擬定會議紀錄</h1></p><br />
&nbsp;&nbsp;&nbsp;學校：正心中學   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          日期：
103年09月11日<br />
&nbsp;&nbsp;&nbsp;學生姓名：蕭亦芸  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      就讀班級：高三家班 <br />
&nbsp;&nbsp;&nbsp;主席：曾翊琪  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                       紀錄：<br />
&nbsp;&nbsp;&nbsp;列席人員：校長：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  教務主任：<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         學務主任：    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                      總務主任：<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         輔導主任：<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         教育局代表：<br />
&nbsp;&nbsp;&nbsp;出席人員：<table width=99% align=center>
<tr height><th width=19%>職稱</th><th width=12%>姓名</th><th width=19%>簽名</th><th width=19%>職稱</th><th width=12%>姓名</th><th width=19%>簽名</th></tr>
<tr><td>特教組長</td><td>詹嘉隆</td><td></td><td>數學教師</td><td> 曾翊琪 </td><td></td></tr>
<tr><td>國文教師</td><td> 張翊詩 </td><td></td><td>英文教師</td><td> 謝淑蕙 </td><td></td></tr>
<tr><td>健康管理教師</td><td> 林芝綺 </td><td></td><td>公民教師</td><td> 賀倫常 </td><td></td></tr>
<tr><td>歷史教師</td><td> 王孟梅 </td><td></td><td>地理教師</td><td> 吳瑞恩 </td><td></td></tr>
<tr><td>生涯規劃教師</td><td> 楊莉華 </td><td></td><td>資訊概論教師</td><td> 陳麗蘭 </td><td></td></tr>
<tr><td>體育教師</td><td> 塗前興 </td><td></td><td></td><td></td><td></td></tr>
<tr><td><font color=white>教師</font></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan=2>家長簽名</td><td colspan=4></td></tr></table><p />
&nbsp;   建議配合相關服務：（請依序註明執行人員、執行方式、執行期限）<br />
&nbsp;   □  交通服務項目：<br />
&nbsp;   □  物理治療：<br />
&nbsp;   □  職能治療：<br />
&nbsp;   □  語言治療：<br />
&nbsp;   □  聽力檢查：<br />
&nbsp;   □  學生衛生保健：<br />
&nbsp;   □  心理輔導：<br />
&nbsp;   □  休閒娛樂：<br />
&nbsp;   □  輔具：<br />
&nbsp;   □  其他（請註明）：<br />
</font>
<P STYLE="page-break-before: always;"></P></div>

