<div class="jumbotron">

   <h2>您尚未登入，無權檢視部份頁面</h2>

   <p>
   <br><br>
   會出現此訊息，表示您正嘗試進入受保護頁面。<br><br>
   該頁面可能需要本校教師帳號登入，或者需要管理者帳號，方可正常檢閱。
   <br><br>
   如您有需要檢視受保護頁面，請由左側選單點選登入。

   <br><br>
   <ol>
      <li> 限本校教師方有登入權限。</li>
      <li> 請事先登入學校 Google 帳號。</li>
   </ol>
   </p>

</div>
