<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>列印表單介面</title>

<style type="text/css" media="screen,print"> 
<!-- 
body {
background: #ffffcc;
}
/* 細線表格-CSS */
table {
background: #ffffff;
border-collapse:collapse; 
border:solid #000; 
border-width:1px 0 0 1px; 
}
table caption {font-size:14px;font-weight:bolder;}
table th,table td {border:solid #000;border-width:0 1px 1px 0;padding:5px; text-align:center;}

.uploadbox {
width: 350px;
margin: 20px;
padding: 20px;
background: #ffaaaa;
border:solid #000;
border-width:1px 0 0 1px;
}

h1 {
font-size:26px;
text-align:center;
}

.kai {
font-size: 18px;
font-family: 標楷體;
}

tfoot td {text-align:center;padding:5px;}
</style>
</head>

<body>

<%= yield %>

</body>
</html>
